html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #cecece;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center {
  text-align: center;

}

.container {
  margin: 0 auto;
  width: 960px;
}

nav {
  background-color: #aeaeae;
  display: flex;
  justify-content: center;
}

a {
  &:active {
    color: inherit;
  }
}

nav > a {
  padding: 1em 1.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: white;

  &.active {
    background-color: rgba(0,0,0,0.1)
  }

  &:active {
    color: white;
  }

  &:hover:not(.active) {
    background-color: rgba(0,0,0,0.05)
  }
}

nav > a.userphoto {
  display: flex;
  padding: 0;
  
  .username {
    padding: 1em 1.5em;
  }

  img {
    height: 100%;
  }
}

main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  background: #aeaeae;
  padding: 1em;
}

footer a {
  padding: 0.5em;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}


.square {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
}

.square__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  padding: 0.75em 1em;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

.user {
  display: block;
  padding: 1em;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}