@import 'variables.scss';

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #EBEFEE;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.center {
  text-align: center;
}

header {
  background: rgb(0, 129, 255); /* Old Browsers */
  background: -webkit-linear-gradient(170deg,rgb(0, 129, 255),rgb(88, 237, 223)); /*Safari 5.1-6*/
  background: -o-linear-gradient(170deg,rgb(0, 129, 255),rgb(88, 237, 223)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(170deg,rgb(0, 129, 255),rgb(88, 237, 223)); /*Fx 3.6-15*/
  background: linear-gradient(170deg, rgb(0, 129, 255), rgb(88, 237, 223)); /*Standard*/
  color: white;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.36);
}

.banner {
  display: flex;
  justify-content: center;
  margin: 1em 0 0.5em 0;
}

.home-link {
  display: flex;

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.simulatedIcon {
  display: inline-grid;
  width: 60px;
  height: 60px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  font-size: 1rem;
  border: 2px solid white;
  margin-right: 2rem;
  transform: rotateZ(-10deg);
}

.simulatedIcon > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

nav {
  display: flex;
  justify-content: center;

  .link {
    display: grid;
    grid-template-columns: [full-start] 20px [icon-start] $icon-size [icon-end] 20px [full-end];
    grid-template-rows: $icon-size;

    .icon {
      grid-row: 1;
      grid-column: icon;
      text-align: center;
    }

    .label {
      grid-row: 2;
      grid-column: full;
      text-align: center;
    }
  }
}

a {
  &:active {
    color: inherit;
  }
}

nav > a {
  padding: 0.75em 0.5em;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;

  &.active {
    background-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.7);
  }

  &:active {
    color: white;
  }

  &:hover:not(.active) {
    background-color: rgba(0,0,0,0.05)
  }
}

nav > a.userphoto {
  display: flex;
  padding: 0;
  
  .username {
    padding: 1em 1.5em;
  }

  img {
    height: 100%;
  }
}

main {
  padding: 2em 0;
  display: grid;
  grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax($main-column-min-width, 50vw) [main-end] minmax(1em, 1fr) [full-end];
}

main > * {
  grid-column: main;
}

.square {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
}

.square__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

.button--primary {
  background: $color-primary;
  color: white;
}

.home-link {
  text-decoration: none;
  color: inherit;
}

.list > * {
  margin-bottom: .75em;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

ol, ul, dl {
  margin: 0;
}