.st-score {
  background: white;
  font-size: 1.5rem;
}

.st-score__header {
  padding: 0.8em 1em;
  cursor: pointer;
  display: grid;
  grid-template: auto / 1fr min-content min-content;
  grid-gap: 0.5em;
  white-space: nowrap;
}

.st-score__header-name {
  flex: 1
}

.st-score__header-duration {
  text-align: right;
}

.st-score__body {
  padding: 1em;
  padding-top: 0;
  display: grid;
  grid-gap: 0.5em 1em;
  justify-items: left;

  .value {
    color: rgba(0,0,0,0.7);
  } 
}

@media (min-width: 500px) {
  .st-score__body {
    grid: auto / auto 1fr;
  }
}

.st-score-sequence {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.2em 0.5em;
}


.correct {
  vertical-align: sub;
  color: green;
}

.incorrect {
  vertical-align: sub;
  color: red;
}