.st-score {
  background: white;
  font-size: 1.5rem;
}

.st-score__header {
  padding: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.st-score__header-name {
  flex: 1
}

.st-score__header-duration {
  text-align: right;
  width: 10em;
}

.st-score__body {
  padding: 1em;
  padding-top: 0;
  display: grid;
  grid: auto / auto 1fr;
  grid-gap: 1rem;
}

.st-score-sequence {
  display: grid;
  grid-template-columns: auto auto auto;
}