.st-table-host {
  display: grid;
  grid-template-rows: auto minmax(200px, 50vw) auto;
}

.st-table-host__controls {
  margin: 1em 0;
  text-align: center;
}

.st-table-host_metadata {
  font-size: 1.5rem;
  color: #999;
  font-weight: bold;
  display: flex;
  margin: 0 0 1em 0;

  dd {
    color: black;
    margin-left: 0.5em;
    margin-right: 2em;
  }
}

.st-table-placeholder {
  border: 1px solid rgba(0,0,0,0.11);
  background: rgba(0,0,0,0.01);
}

.button--start {
  font-size: 2rem;
}