@import 'variables.scss';

.st-table-host {
  display: grid;
  grid-template-rows: min-content minmax($main-column-min-width, calc(100vh - 300px));
}


@media (min-width: 501px) and (max-width: 800px) {
  .st-table-host {
    grid-template-rows: min-content  minmax($main-column-min-width, calc(100vh - 300px));
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .st-table-host {
    grid-template-rows: min-content  minmax($main-column-min-width, calc(100vh - 300px));
  }
}

@media (min-width: 1201px) {
  .st-table-host {
    grid-template-rows: min-content  minmax($main-column-min-width, calc(100vh - 300px));
  }
}

.st-table-host__controls {
  text-align: center;
}

.st-table-host_metadata {
  font-size: 1.5rem;
  color: #999;
  font-weight: bold;
  display: flex;
  margin: 0 0 1em 0;

  dd {
    color: black;
    margin-left: 0.5em;
    margin-right: 0.75em;
  }
}

@media (max-width: 400px) {
  .st-table-host_metadata {
    font-size: 1rem;
  }
}

.st-table-placeholder {
  border: 1px solid rgba(0,0,0,0.11);
  background: rgba(0,0,0,0.01);
}

.button--start {
  font-size: 2rem;
}