.st-table-container {
  position: relative;
}
.st-table-host__controls {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: grid;
  justify-content: center;
  align-content: center;
}

.st-table {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  border: 1px solid black;
}
.st-table--completed {
  .st-table__cell {
    cursor: not-allowed;
  }

  filter: blur(10px) grayscale(20%);
}
.st-table--placeholder {
  .st-table__cell {
    cursor: not-allowed;
  }

  filter: blur(10px) grayscale(20%);
}

.st-table__cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

@media (min-width: 800px) {
  .st-table__cell {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .st-table__cell {
    font-size: 4rem;
  }
}