.st-table-host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.st-table-host__controls {
  text-align: center;
}

.st-table-host__table-container-outer {
  display: flex;
  justify-content: center;
}
.st-table-host__table-container {
  width: 702px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 1.5rem;
    color: #999;

    .data {
      color: black;
    }
  }
}