.st-user {
  background: white;
  font-size: 1.5rem;
}

.st-user__header {
  padding: 0.8em 1em;
  cursor: pointer;
  display: grid;
  grid-template: min-content / min-content 1fr min-content;
  grid-gap: 0.5em;
  white-space: nowrap;
}

.st-user__header-name {
  overflow: hidden;
}

.st-user__body {
  padding: 1em;
  padding-top: 0;
}

.st-user__proprties {
  display: grid;
  grid: auto / auto 1fr;
  grid-gap: 1rem;
}

@media (max-width: 500px) {
  .st-user__proprties {
    grid-gap: 0.5rem;
    grid-template-columns: auto;
  }
}

.st-user__link {
  padding-top: 1rem;
}

.st-user-history {
  margin-top: 1rem;
}