<div>
  <button type="button" {{action "loginWithFacebook"}}>Login With Facebook</button>
  <button type="button" {{action "loginWithTwitter"}}>Login With Twitter</button>
  <button type="button" {{action "loginWithGoogle"}}>Login With Google</button>
</div>
