<div>
  <button type="button" {{action "loginWithFacebook"}}>Facebook</button>
  <button type="button" {{action "loginWithTwitter"}}>Twitter</button>
  <button type="button" {{action "loginWithGoogle"}}>Google</button>
</div>
