<div>
  <h2>{{model.name}}</h2>
  <p>{{model.email}}</p>

  {{#if isCurrentUser}}
  <div>
    <button type="button" {{action 'invalidateSession'}}>Logout</button>
  </div>
  {{/if}}

  <div>Score History:</div>
  {{#if chartOptions}}
    {{high-charts chartOptions=chartOptions content=chartData}}
  {{/if}}
</div>