<header>
    <h1 class="center">Schultz Tables</h1>
</header>
<nav>
  {{#link-to "index"}}Home{{/link-to}}
  {{#link-to "scores"}}Scores{{/link-to}}
  {{#link-to "users"}}Profile{{/link-to}}
</nav>
<main>
{{outlet}}
</main>
<footer class="center">
    Schultz Tables - {{#link-to "index"}}Home{{/link-to}} - {{#link-to "scores"}}Scores{{/link-to}} - {{#link-to "users"}}Profile{{/link-to}}
</footer>