<header>
  <h1 class="banner">
    {{#link-to "index" classNames="home-link"}}
      <div class="simulatedIcon">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>
      <div class="label">Schultz Tables</div>
    {{/link-to}}
  </h1>
  <nav>
    {{#link-to "index" classNames="link"}}
      <div class="icon">Icon</div>
      <div class="label">Home</div>
    {{/link-to}}
    {{#link-to "scores" classNames="link"}}
      <div class="icon">Icon</div>
      <div class="label">Scores</div>
    {{/link-to}}
    {{#link-to "users.index" classNames="link"}}
      <div class="icon">Icon</div>
      <div class="label">Users</div>
    {{/link-to}}
    {{#if session.isAuthenticated}}
      {{#link-to "users.user" sessionAccount.userAuthData.id classNames="link"}}
        <div class="icon">Icon</div>
        <div class="label">Users</div>
      {{/link-to}}
    {{/if}}
  </nav>
</header>
<main>
{{outlet}}
</main>