<header>
  <h1 class="center">Schultz Tables</h1>
  <nav>
    {{#link-to "index"}}Home{{/link-to}}
    {{#link-to "scores"}}Scores{{/link-to}}
    {{#link-to "users.index"}}Users{{/link-to}}
    {{#if session.isAuthenticated}}
      {{#link-to "users.user" sessionAccount.userAuthData.id class="userphoto"}}
        <span class="username">{{sessionAccount.userAuthData.name}}</span>
      {{/link-to}}
    {{/if}}
  </nav>
</header>
<main>
{{outlet}}
</main>
<footer class="center">
    Schultz Tables - {{#link-to "index"}}Home{{/link-to}} - {{#link-to "scores"}}Scores{{/link-to}} - {{#link-to "users.index"}}Users{{/link-to}} - {{sessionAccount.user.content.name}}
</footer>